<div class="container page">
    <!-- Search User and repos Collapse Functionality -->
  <div class=" my-2 mb-4 text-center ">
    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Search From Github
    </a>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body m-auto" style="width: 40%; text-align: center;">
      <a class="btn btn-sm btn-outline-info py-2"routerLink="/user">User</a>
      <a class="btn btn-sm btn-outline-info my-1 btn-outline-info"routerLink="/repository">Repositories</a>
    </div>
  </div>

  <!-- End of search -->

  <form class="row" (ngSubmit) ='searchUser()' #userForm='ngForm'>

    
    <div class="formgroup">
        <input class="form-control me-2" type="search" name="search" ngModel #search='ngModel'placeholder="Github User Name" aria-label="Search" required><br>
        
        <div [hidden]="search.valid || search.pristine" class="alert alert-danger">
            <p>Enter Github UserName</p>
          </div>
        
    </div>
    <button class="btn btn-outline-success" id="submit" type="submit">Search</button>

  </form>

  <div class="container contents" >
    <div class="row" appColors>
        <div class="col-md-4"></div>
        
        <div class="col-md-2 user-info" id ="usercard"*ngIf="showDeets">
            <div class="card mt-3" style="width: 30rem">
                <img style="height: fit-content;" [src]="userDeets?.avatar_url" class="card-img-top" alt="My profile picture">
                <div class="card-body text-center">
                  <h4 class="card-text" ><b>{{ userDeets?.name }} </b></h4>
                  <p ><b>{{ userDeets?.login }}</b></p>
                  <p ><b>{{ userDeets?.bio }}</b></p>
                  <p><b>{{ userDeets?.location }}</b></p>
                  
                  <div class="d-flex justify-content-evenly">
                    <div>
                      <p> <i class="fa fa-user"></i> {{ userDeets?.followers }} Followers</p>
                    </div>
                    <div>
                      <p> <i class="fa fa-user"></i> Following {{ userDeets?.following }} </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="row homepage" *ngIf="!showDeets && GithubUserNotFound">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-4">
          <div class="card">
            <div class="alert alert-danger" role="alert">The Request Was Not Found. Type the UserName Of The Github User</div>
          </div>
        </div>
      </div>

    <app-footer></app-footer>
  </div>
</div>