
        <!-- Navigation Bar -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
        <div class="d-flex">
            <input class="form-control me-2" (keyup.enter)="SearchUser(search.value)" type="search" #search placeholder="Github - Username" aria-label="Search">
            <button class="btn btn-outline-success" (click)="SearchUser(search.value)" type="button">Search User</button>
        </div>
    </form>
    </nav>






      