<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2 text-center" type="search" placeholder="username / repository" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search User</button>
    </form>
    </nav>



<div class="container">
    <div class="row infor">
        <div class="col-md-4 text-center">
            <div>
                <img class="img-fluid rounded-circle" src="{{ ApiService.user.avatar_url }}" alt="Alex">
            </div>
            <div>
            <h3>{{ ApiService.user.name }}</h3>
            <p><a href="{{ ApiService.user.html_url }}" target="_blank">{{ ApiService.repos.login }}</a></p>
            <p>{{ ApiService.user.bio }}</p>
            <p>{{ ApiService.user.followers }} <em>Followers,  Following {{ApiService.user.following}}</em></p>
            </div>
        </div>


        <div class="col-md-5">
            <div class="row">
                <h2>Repositories</h2>
                <div *ngFor="let repo of ApiService.repos" class="col-md-5 m-1" style="word-wrap: break-word;">
                    <h4><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a></h4>
                    <p>{{ repo.description }}</p>
                    <p class="text-secondary">{{ repo.topics }}</p>
                    <p><em>Created: {{ repo.created_at | date }}</em></p>
                </div>
            </div>
        </div>
    </div>
</div>