  <!-- Repositories to display on the right -->
  <div class="col-md-5">
    <div class="row">
        <h2>Repositories</h2>
        <p>The user has {{ repos.public_repos }}</p>
        <div *ngFor="let repos of repos" class="col-md-5 m-1" style="word-wrap: break-word;">
            <h4><a href="{{ repos.html_url }}" target="_blank">{{ repos.name }}</a></h4>
            <p>{{ repos.description }}</p>
            <p>Languages {{repos.language}} </p>
            <p class="text-secondary">{{ repos.topics }}</p>
            <p><em>Created: {{ repos.created_at | date }}</em></p>
        </div>
    </div>
</div>