<div class="container">

  <!-- Search User and repos Collapse Functionality -->
  <div class=" my-2 text-center ">
    <span>Click Here to Search > > </span>
    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Search From Github
    </a>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body m-auto" style="width: 40%; text-align: center;">
      <a class="btn btn-sm btn-outline-info py-2"routerLink="/user">User</a>
      <a class="btn btn-sm btn-outline-info my-1 btn-outline-info"routerLink="/repository">Repositories</a>
    </div>
  </div>

  <!-- End of search -->
  
  <div class="row">
    <div class="card col-md-5 mt-5"> 
      <img [src]="userInfo?.avatar_url" style="height: fit-content; padding: 2rem;" class="card-img-top" alt="My profile picture">
    </div>

    <div class="card-body text-center col-md-5 my-5"appColors> <!-- Applied Color Directive on User Info -->
      <h4 class="card-text my-4 "><i style="font-weight: 100;">Name : </i><b> {{ userInfo?.name }} </b></h4>
      <p class="my-5" >Github User-Name : - <i><b>{{ userInfo?.login }}</b></i></p>
      <p class="my-5" >About : -  {{ userInfo?.bio }}</p>
      <p> Living in : - {{ userInfo?.location }}</p>

      <div class="d-flex justify-content-evenly mt-5">
        <p> <i class="fa fa-user"></i> {{ userInfo?.followers }} followers</p>
        <p> Following <i class="fa fa-user"></i> {{ userInfo?.following }} </p>
      </div>
    </div>
  </div>
    <div class="row ">
        <div class="row my-repository">
            <div class="col-md-12 text-center m-1">
              <h2 class="my-3 text-center mx-auto">My repositories</h2>
            </div>
            <div class="col-md-3" *ngFor="let repository of userRepositories; let i = index">
              <div class="card card-repo my-2" style="height: 20rem; background:rgb(224, 220, 220);">
                
                <div class="card-body text-center">
                  <h5 class="card-title heading"> {{ repository.name }} </h5>
                  <p class="card-text mt-1" style="height: 8rem; overflow: hidden;">{{ repository.description}}</p>
                </div>
                <div class="card-body text-center">
                  <p class="card-text">Date Published: <span class="">{{repository.created_at | date }}</span></p>
                  <a href="{{ repository.html_url }}" target="_blank" class="card-link color-primary">Open <i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12">
        <app-footer></app-footer>
      </div>
      
    </div>